.blog-post-section {
  padding: 20px;
  text-align: center;
  height: 70vh;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.blog-post-card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.blog-post-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.blog-post-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.blog-post-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.blog-post-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
