.dashboard-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    
  }
  
  .gradients-box {
    
    background: linear-gradient(135deg, #d7d9dc, #f0f2f5);
    padding: 15px;
    border-radius: 16px;
    max-width: 100%;
    text-align: center;
    color: rgb(15, 15, 15);
    font-family: Arial, sans-serif;
    width: 100%;
  }
  
  .gradients-box h1 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bold; 
    font-family: 'Poppins', sans-serif; 
  }
  
  .gradients-box p {
    font-size: 1rem;
    margin-bottom: 2px;
    


  }
  
  .happy-travels {
    font-style: italic;
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .navbar-spacing {
    height: 80px; 
  }

  @media (max-width: 600px) {
  .gradients-box {
    padding: 15px;
  }

  .gradients-box h1 {
    font-size: 1.3rem;
  }

  .gradients-box p,
  .happy-travels {
    font-size: 0.95rem;
  }

  .dashboard-text {
    margin-top: -20px;
    flex-direction: column;
  }
}