.popups-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  
  .popups-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  
  .popup-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .popup-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .popup-button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-button {
    background-color: #34bfc9;
    color: white;
  }
  
  .close-button {
    background-color: #f44336;
    color: white;
  }
  