.blog-post-section {
  padding: 40px;
  text-align: center;
}

.blog-post-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.blog-posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.see-more {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

.see-more:hover {
  background-color: #0056b3;
}