.blog-section {
  margin-bottom: 30px; 
}

.blog-section .homesection-header {
  margin-bottom: 40px; 
}
@media (min-width: 768px) {
  .blog-section .homesection-header {
    margin-bottom: 50px;
  }
}


.blog-posts-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px; 
}

@media (min-width: 768px) {
  .blog-posts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .blog-posts-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.view-all-container { 
  margin-top: 40px;
}
@media (min-width: 768px) {
  .view-all-container {
    margin-top: 50px;
  }
}