.travel-budget-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-bottom: 60px;
    margin: 30px;
    margin-left: 5%;
  }

  .budget-plan-title {
    font-size: 20px; /* Larger font for title */
    font-weight: 500; /* Bold title */
    color: #333; /* Darker color */
    margin-bottom: 20px; /* Some space between title and description */
  }
  
  .budget-plan-description {
    font-size: 16px; /* Standard size for description */
    color: #666; /* Light gray text */
    margin-bottom: 30px; /* Space between description and input fields */
    text-align: center; /* Center the description */
    padding: 0 10px; /* Padding for small screens */
  }
  
  .budget-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #333;
  }
  
  .budget-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
  }
  
  .budget-input {
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    font-size: 14px;
    outline: none;
  }
  
  .description-input {
    flex: 2;
  }
  
  .amount-input {
    flex: 1;
  }
  
  .add-expense-button {
    background-color: #10b981;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  
  .expenses-list {
    list-style-type: none;
    padding: 0;
  }
  
  .expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .expense-description {
    flex: 2;
    font-size: 14px;
    color: #333;
  }
  
  .expense-amount {
    flex: 1;
    text-align: right;
    font-size: 14px;
    color: #333;
  }
  
  .delete-expense-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #f44;
  }
  
  .total-amount {
    margin-top: 20px;
    font-size: 22px; 
    font-weight: 700; 
    color: #1d1818; 
    background-color: #d7ead2; 
    padding: 15px 20px; 
    border-radius: 8px; 
    text-align: center; 
  }
  


.show-budget-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #a4b6e5;
    color: rgb(38, 26, 26);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
  

  