.dashboard-saves-container {
  max-width: 700px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  margin-left: 2%;
}

.saves-section {
  margin-bottom: 40px;
}

.saves-section h2 {
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 15px;
}

.saves-card {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
}

.saves-card img {
  width: 230px;
  height: 200px;
  object-fit: cover;
}

.hotel-details, .vehicle-details {
  padding: 15px;
  flex-grow: 1;
}

.hotel-details h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.rating span {
  font-size: 16px;
  color: #ffcc00;
  margin-right: 5px;
}

.availability {
  color: #28a745;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}

.vehicle-specs {
  display: flex;
  gap: 15px;
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

input[type='text'] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
}

.to-do-card, .budget-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  font-size: 13px;
  background-color: #f8f9fa;
  position: relative;
}

/* Style for arrow button */
.arrow-button {
  background-color: #b6b9bd;
  color: white;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.arrow-button:hover {
  background-color: #0056b3;
}

button {
  background-color: #b6b9bd;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .saves-section {
    flex-direction: column;
  }

  .saves-card {
    flex-direction: column;
  }

  .saves-card img {
    width: 100%;
    height: auto;
  }
  
  .to-do-card, .budget-card {
    padding-bottom: 40px; /* Extra space for the button */
  }
}