.travel-budget-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 60px;
  margin-left: 45px;
  
}

.budget-plan-title {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-bottom: 20px;
}

.budget-plan-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
  text-align: center;
  padding: 0 10px;
}

.budget-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #333;
}

.budget-inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  align-items: center;
}


.budget-input {
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  height: 36px; 
  box-sizing: border-box; 
}

/* Description Input */
.description-input {
  flex: 2;
  height: 50px;
  padding: 0 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  line-height: 50px;
  box-sizing: border-box;
}

/* Amount Input */
.amount-input {
  flex: 1;
  height: 50px;
  padding: 0 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  line-height: 50px;
  box-sizing: border-box;
  margin-top: 10px;
}

/* Add Button */
.add-expense-button {
  background-color: #10b981;
  color: white;
  border: none;
  padding: 0 16px;
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom:1px;
}

.expenses-list {
  list-style-type: none;
  padding: 0;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.expense-description {
  flex: 2;
  font-size: 14px;
  color: #333;
}

.expense-amount {
  flex: none;
  text-align: right;
  font-size: 14px;
  color: #333;
  margin-right: 16px; /* add space between amount and button */
}

.delete-expense-button {
  background: #ffe5e5;
  border: 1px solid #f44;
  cursor: pointer;
  font-size: 15px;
  color: #f44;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.delete-expense-button:hover {
  background: #f44;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  
}

.delete-expense-button:active {
  transform: scale(0.95);
}

.total-amount {
  margin-top: 30px;
  font-size: 24px; 
  font-weight: 700; 
  color: #1d1818; 
  background-color: #e8f5e9; 
  padding: 20px 25px; 
  border-radius: 12px; 
  text-align: center; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border: 2px solid #a5d6a7; 
  transition: transform 0.2s ease;
}

.total-amount:hover {
  transform: scale(1.02);
}

.total-label {
  color: #2e7d32;
  margin-right: 8px;
}

.total-value {
  color: #1b5e20;
}

